
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
            <div class=" card-header"><h5 class=" title">Datos de Objetivo</h5><hr></div>
            <div class=" card-body">


                <div class="row">

                    <div class="col-md-6">
                        <h4>Imagen del Objetivo</h4>
                        <div class="col-md-5">
                            <input type="file" name="userImage" data-default-file="/assets/img/default-avatar.png" class="dropify text-center center-block file-upload" data-allowed-file-extensions="jpg png jpeg">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h4>Datos personales</h4>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="">Nombre:</label>
                                <input type="text" class="form-control" placeholder="Ingresar Nombre" value="" style="background-color:#fff;color:#555;">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="">Fecha de nacimiento:</label>
                                <input type="date" class="form-control"value="" style="background-color:#fff;color:#555;">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="">Empresa:</label>
                                <input type="text" class="form-control" placeholder="Ingresar Nombre" value="" style="background-color:#fff;color:#555;">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Estado Civil:</label>
                                <div class="md-radio-list">
                                    <div class="md-radio">
                                        <input type="radio" id="checkboxEstado" name="checkboxEstado" value=" Soltero" class="md-radiobtn">
                                        <label for="checkboxEstado">
                                            <span> </span>
                                            <span class="check"> </span>
                                            <span class="box"></span> Soltero
                                        </label>
                                    </div>
                                    <div class="md-radio">
                                        <input type="radio" id="checkboxEstado1" name="checkboxEstado" value=" Casado" class="md-radiobtn">
                                        <label for="checkboxEstado1">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Casado
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Genero:</label>
                                <div class="md-radio-list">
                                    <div class="md-radio">
                                        <input type="radio" id="checkbox2_1" name="checkboxSex" value="Masculino" class="md-radiobtn">
                                        <label for="checkbox2_1">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Masculino
                                        </label>
                                    </div>
                                    <div class="md-radio">
                                        <input type="radio" id="checkbox2_2" name="checkboxSex" value="Femenino" class="md-radiobtn">
                                        <label for="checkbox2_2">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Femenino
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="idUG" name="id" value="Id">
                <input type="submit" class="btn btn-success" value="Guardar">                  
                
            </div>
        </div>
      </div>
    </div>

    <div class=" row">
        <div class=" col-lg-6">
            <div class=" card card-chart">
                <div class=" card-header"><h5 class=" title">Contactos</h5><hr></div>
                <div class=" card-body">
                    
                    <div class="table-responsive ps">
						<table class="table tablesorter " id="">
							<thead class="text-primary">
								<tr>
									<th>Img</th>
									<th>Nombre</th>
									<th class="text-center">Ver Perfil</th>
								</tr>
                            </thead>
                            <tbody class=" text-primary" *ngIf="contactSice > 0">
                                <tr *ngFor="let contact of contacts">
                                    <td class="text-left">
                                        <div class="image-table"><img src="{{contact.img}}" alt=""></div>
                                    </td>
                                    <td>{{contact.nombre}}</td>
                                    <td class="text-center">
                                        <div class="actions">
                                            <a href="{{contact.url}}" target="_blank" class="btn btn-primary ">
                                                <i class="fas fa-search" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>

							
                            <tbody *ngIf="contactSice == 0">                       
                                <tr>
                                    <td  class="text-center" colspan="3">Aun no se han añadido Contactos</td>
                                </tr>
                            </tbody>
						</table>
					</div>

                </div>
            </div>
        </div>
        <div class=" col-lg-6">
            <div class=" card card-chart">
                <div class=" card-header"><h5 class=" title">Cuentas  <button class="btn btn-info btn-sm" style="float:left; float: right;" mat-raised-button (click)="addAccount()" type="submit">Añadir</button></h5><hr></div>
                <div class=" card-body">
                    <div class="table-responsive ps">
						<table class="table tablesorter " id="">
							<thead class=" text-primary">
                                <tr>
									<th>url</th>
                                    <th>email</th>
                                    <th>password</th>
								</tr>
							</thead>
							<tbody *ngIf="accountSice > 0">
                                <tr *ngFor="let account of accounts">
                                    <td>{{account.Url}}</td>
									<td>{{account.Correo}}</td>
									<td class="text-center">{{account.Password}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="accountSice == 0">
                                <tr>
                                    <td class="text-center" colspan="3"> No hay cuentas vinculadas</td>
                                </tr>
                        </tbody>
						</table>
					</div>
                </div>
            </div>
        </div>
    </div>

    <div class=" row">
        <div class=" col-lg-6">
            <div class=" card card-chart">
                <div class=" card-header"><h5 class=" title">Subir Archivos</h5><hr></div>
                <div class=" card-body">
                    
                </div>
            </div>
        </div>
        <div class=" col-lg-6">
            <div class=" card card-chart">
                <div class=" card-header"><h5 class=" title">Carpetas<button class="btn btn-info btn-sm" style="float:left; float: right;" (click)="agree()" type="submit">Crear Nueva Carpeta</button></h5><hr></div>
                <div class=" card-body">



                </div>
            </div>
        </div>
    </div>

    <div class=" row">
        <div class=" col-lg-6">
            <div class=" card card-chart">
                <div class=" card-header"><h5 class=" title">Añadir Locaciones</h5><hr></div>
                <div class=" card-body">
                    <div class="table-responsive ps">
						<div class="row">
							<div class="col-12">
								<form class="form-ajax" data-url="target/addlocate">
									<label>Longitud</label>
									<input class="form-control" type="text" name="long" value="">
									<label>Latitud</label>
									<input type="hidden" name="id" value="<?=$id?>">
									<input  class="form-control" type="text" name="lat" value="">
									<label>Descripcion</label>
									<textarea  class="form-control" name="desc" rows="8" cols="80"></textarea>
									<br>
									<input type="submit" class="btn btn-sm btn-primary btn-simple active " name="" value="Añadir">
								</form>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
        <div class=" col-lg-6">
            <div class=" card card-chart">
                <div class=" card-header"><h5 class=" title">Ultimas Locaciones</h5><hr></div>
                <div class=" card-body">

                    <div class="table-responsive ps">
						<table class="table tablesorter " id="">
							<thead class=" text-primary">
								<tr>
									<th>Latitud</th>
									<th>Longitud</th>
									<th class="text-center">Descripción</th>
								</tr>
							</thead>
							<tbody *ngIf="locattionSice > 0">
                                <tr *ngFor="let location of locations">
                                    <td>{{location.Latitude}}</td>
                                    <td>{{location.Long}}</td>
                                    <td class="text-center">{{location.Descripcion}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="locattionSice == 0">
                                <tr>
                                    <td  class="text-center" colspan="3">No hay ningun registro de ubicaciones</td>
                                </tr>
							</tbody>
						</table>
					</div>

                </div>
            </div>
        </div>
    </div>
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card card-plain">
                <div class=" card-body"><div class=" map" id="map"></div></div>
            </div>
        </div>
    </div>
</div>