<div class="contentLogin">

  <div class="fullscreen-bg">
    <video loop [muted]="true" muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
        <source src="/assets/img/vid.mp4" type="video/mp4">
    </video>
  </div>

  <div class='login'>

      <div class='login_title'>
          <span>Iniciar Sesión</span>
      </div>
      <div class='login_fields'>
          <div class='login_fields__user'>
              <div class='icon'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png'>
              </div>
              <input id="Username" placeholder='Username' type='text'>
              <div class='validation'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
              </div>
          </div>
          <div class='login_fields__password'>
              <div class='icon'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png'>
              </div>
              <input id="Password" placeholder='Password' type='password'>
              <div class='validation'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
              </div>
          </div>
          <div class='login_fields__submit'>
              <input type='submit' (click)="login()" value='Log In'>
              <div class='forgot'>
                <a>Olvidaste tu contraseña?</a>
              </div>
          </div>
      </div>
      <div class='success'>
          <h2>Authenticación valida</h2>
          <p>Bienvenido</p>
      </div>
      <div class='failed'>
          <h2>Authenticación fallida</h2>
          <p>vuelve a intentarlo</p>
          <div class='button_try'>
              <input type='button' value='TryAgain'>
          </div>
      </div>
      <div class='disclaimer'>
          <p>Hail Hydra</p>
      </div>
      
  </div>
  <div class='authent'>
      <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/puff.svg'>
      <p>Autenticando...</p>
  </div>
</div>
