
<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card card-plain">
                <div class=" card-header">
                    <h2>Bienvenido Root</h2>
                    <h5>Si cortan una cabeza dos mas la reemplazaran. </h5>
                </div>
                <div class=" card-body">
                        Información general
                        La información oficial sobre Hydra y su equipo se publica exclusivamente en el sitio web Hydra.
                        No confíe en las críticas negativas / rumores que otros dicen: ¡es un MITO! No desfiguramos NINGÚN sitio web y NO atacamos a ningún servidor web.
                        El equipo de Hydra se especializa únicamente en la investigación de errores, no en acciones maliciosas.
                        Hydra se lanza sin garantía y existe únicamente con fines educativos.
                        Hydra y su equipo no son responsables del uso ilegal de la información proporcionada.
                        ¡Hydra es tu nuevo amigo digital que te ayudará a evitar muchos problemas de seguridad en tu sitio web!
                        <br><br>
                        Justicia, derecho, programador y código fuente
                        Prestamos especial atención a seguir todas las leyes europeas necesarias, pero ejercemos nuestro derecho a intercambiar información de manera segura.
                        Todas las vulnerabilidades enviadas se enviarán al fabricante del producto y se publicarán para proteger su entorno local.
                        Si un envío contiene código malicioso, comentarios ilegales y / o detalles sensibles, el envío será eliminado o modificado.
                        <br><br>
                        Hydra Declaración de misión
                        La misión Hydra es proporcionar una base de datos de estándares y tecnología para proteger sus sistemas de información contra posibles amenazas.
                        Algunas amenazas pueden estar dirigidas a la confidencialidad o integridad de su información / procesos y la disponibilidad de su información y servicios.
                        Aquí en Hydra, tratamos de informarle lo antes posible cuando se descubren nuevas brechas de seguridad para que pueda tomar las medidas adecuadas para corregirlas / solucionarlas.
                        <br><br>
                        Declaración oficial del equipo Hydra
                        No aprobamos ni alentamos a nadie a anular las licencias de ningún proveedor, desfigurar sitios web, piratear bases de datos y / o comerciar con material fraudulento o robado.
                        No publicamos avisos / vulnerabilidades que hablan en contra de ciertas religiones, apoyan el terrorismo / racismo, o cualquier cosa de naturaleza negativa.
                        No permitimos actividades criminales o solicitudes de miembros en nuestra base de datos o correos electrónicos. Dichos ejemplos se eliminarán instantáneamente sin ningún comentario.
                        Hydra le brinda información "tal cual" y no se hace responsable de ningún daño que se le haya hecho.
                        0day Today contiene información que puede considerarse ilegal en algunos países.
                  
                        Dicha información se proporciona aquí únicamente con fines educativos y no está destinada a ser utilizada para actividades ilegales. // Hydra Administración


                </div>
            </div>
        </div>
    </div>
</div>