<h3 mat-dialog-title>Cuenta </h3>
<mat-dialog-content>
  <mat-form-field class="form-group">
    <mat-label>URL</mat-label><br>
    <input matInput [(ngModel)]="url" class="form-control" style="background-color:#fff;color:#555;"><br>
    <mat-label>Correo</mat-label><br>
    <input matInput [(ngModel)]="correo" class="form-control" style="background-color:#fff;color:#555;"><br>
    <mat-label>Password</mat-label><br>
    <input matInput [(ngModel)]="password" class="form-control" style="background-color:#fff;color:#555;">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <hr>
    <div class=" row">
        <div class=" col-md-6">
            <button class="btn btn-fill btn-sm btn-info " mat-button (click)="crear()" [mat-dialog-close]="true" >Crear</button>
        </div>
        <div class=" col-md-6">
            <button class="btn btn-sm btn-fill btn-info " mat-button (click)="cancelar()" [mat-dialog-close]="false" >Close</button>
        </div>
    </div>
</mat-dialog-actions>